_untracked
_untracked/*
.DS_Store
assignments/.DS_Store
class_exercises/.DS_Store
resources/.DS_Store
weekly_detail/.DS_Store
class_exercises/intro_ux/ux.key
class_exercises/intro_ux/imgs/
class_exercises/intro_ux/imgs/*