/* define HTML element base styles */
body {
  background-color: #66ABDC;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
}
a {
  font-size: 1em;
  text-decoration: none;
}
a[href="home.html"] {
  color: #ff0000;
}
a:hover {
  text-decoration: underline;
}

/* define class styles */
ul.nav {
  list-style-type: none;
}
ul.nav li {
  display: inline;
  padding: 0 15px;
}
.half-page {
  width: 70%;
}
.raleway {
  font-family: 'Raleway', sans-serif;
}
.opensans {
  font-family: 'Open Sans Condensed', sans-serif;
}
.headline {
  font-size: 3em; /* you can use pixels (px), em or vh/vw (view height / view width) for units */
  color: #00ff00;
  text-align: center;
  line-height: 1em;
  letter-spacing: 1px;
}
.borders {
  border: 2px solid #00ff00;
}
.top-border {
  border-top: 1px solid #000;
}
